<!DOCTYPE html>
<html>
<head>
  <title>ちんちん</title>
  <link rel="stylesheet" href="css/min.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
  <ul id="messages"></ul>
  <form id="chatSend" action="">
    <input id="chatText" autocomplete="off"><button class="sendButton">送信</button>
  </form>
  <script>
    var socket = io();
    $(function*(){
      $("chatSend").submit(function()){
        socket.emit("message",$("#chatText").val());
        $("#chatText").val();
        return false;
      });
      socet.on("messa",function(msg){
        $("#messages").append("<li>"+msg+"</li>");
      });
    });
  </script>
</body>
</html>